<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="TPS_Website_DBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Benci\Documents\Visual Studio 2015\WebSites\TPS_Website_DB.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="TPS_Website_DBConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Benci\Documents\Visual Studio 2015\WebSites\Team_F_CIS_470_Course_Project\TPS_Website_DB.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Benci\Documents\Visual Studio 2015\WebSites\Team_F_CIS_470_Course_Project\TPS_Website_DB.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="ConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\Benci\Documents\Visual Studio 2015\WebSites\Team_F_CIS_470_Course_Project\TPS_Website_DB.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
      <authentication mode="Forms" >
        <forms loginUrl="frmLogin.aspx">
        </forms>
      </authentication>
      <pages enableEventValidation="false"/>
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="LogProvider" value="both"/>
    <add key="SendEmail" value="true"/>
  </appSettings>
  
</configuration>
